build/bin
node_modules
frontend/dist
.idea/
/qodana.yaml
frontend/*.js
frontend/*.d.ts
frontend/wailsjs
frontend/coverage/*
frontend/coverage/
frontend/tmp/*
frontend/node_modules/*
.DS_Store
.vscode/*
.continue/*
.tmp/*
**/.tmp/*
.claude/settings.local.json
docs/superpowers/*