:root {
  --top-bar-height: 6vh;
  --bottom-bar-height: 4vh;
  --content-area-height: calc(100vh - var(--top-bar-height) - var(--bottom-bar-height));
  --editors-height: calc(var(--content-area-height) - 30vh);
}

html,
body {
  background: var(--surface-color);
  color: var(--surface-color-on);
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}


.app-main-container {
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  min-width: 100vw;
  min-height: 100vh;
  max-height: 100vh;
  width: 100vw;
  height: 100vh;
}

.app-content-container {
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  height: var(--content-area-height);
}

.content-container-grid-child {
  display: flex; /* Creates flexible container for content */
  flex-direction: column; /* Stacks content vertically */
  align-items: stretch; /* Makes children fill column width */
  justify-content: flex-start; /* Aligns content to top of column */
}

.lang-select-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  justify-content: center;
  gap: 10px;
  padding: 10px;
  overflow-y: auto;
  scroll-behavior: smooth;
  scrollbar-width: thin;
}

.error-msg {
  display: block;
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
  align-content: center;
  color: var(--error-color);
  box-shadow: 0 0 4vh var(--surface-dim-color-on);
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent white overlay */
  backdrop-filter: blur(1px); /* Blur the background */
  z-index: 999; /* Ensure it's on top of everything else */
}

.loader {
  border: 2vh solid var(--surface-color);
  border-top: 2vh solid var(--primary-color);
  border-radius: 50%;
  width: 10vh;
  height: 10vh;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}