.text-editor {
  background: var(--secondary-container-color);
  color: var(--secondary-container-color-on);
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  padding: 0.5rem;
  box-sizing: border-box;
  border: var(--primary-color) 1px solid;
  margin-bottom: 10vh;
  border-radius: 10px;
  resize: none;
  overflow: auto;
  font-size: 0.9rem;
  font-family: monospace;
  transition: all 0.3s ease;
}

.text-editor:hover {
  filter: brightness(1.01);
  background-color: color-mix(in srgb, var(--secondary-container-color) 70%, var(--white-color));
  box-shadow: 0 0 4px var(--primary-color);
}

.text-editor:focus {
  outline: none;
  filter: brightness(1.05);
  box-shadow: 0 0 6px var(--primary-color);
}

.text-editor-wrapper {
  flex: 1;
  display: flex;
  width: 100%;
  height: 100%;
  margin-top: 1vh;
}