.io-horizontal-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 0 0 0;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}

.io-horizontal-bar h4 {
  font-weight: bold;
  margin: 0;
}

.io-two-columns {
  display: flex;
  flex: 0.7;
  gap: 20px; /* Space between columns */
  width: 100%;
  height: var(--editors-height);
  max-height: var(--editors-height);
}

.io-two-columns > * {
  flex: 1; /* Each child takes equal space */
  min-width: 0; /* Prevents flex items from overflowing */
  padding-left: 1vw;
  padding-right: 1vw;
}

@media (max-width: 768px) {
  .io-two-columns {
    flex-direction: column;
  }
}